@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	color: #030616;
}

.faq-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.faq-header h1 {
	font-size: 36px;
	font-weight: 600;
}

.faq-header p {
	font-size: 16px;
	font-weight: 400;	
}

.faq-container {
	background-color: #F8FAFC;
    display: grid;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;

}

a {
	text-decoration: none;
	color: #4E80EE;
}

.author-info {
	font-size: 14px;
	text-align: center;
	margin-top: 16px;
	color: rgb(55, 65, 81);
}

.author-info a {
	text-decoration: none;
}